*{
	margin:0px;
	padding:0px;
}
body{
	font-size:120%;
	background: #f8f8ff;
}
.header{
	width:30%;
	margin:5px;
	color:white;
	background: #5f9ea0;
	text-align: center;
	border:1px solid #b0c4de;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}